@model ProduitsViewModel

@{
    ViewData["Title"] = "Catalogue";
}

<link href="~/css/site.css" rel="stylesheet">

<h1 class="mb-4">@ViewData["Title"]</h1>

<form asp-action="Catalogue" method="get">
    <div class="form-group">
        <label for="categorie">Catégorie:</label>
        <select id="categorie" name="categorie" class="form-control">
            <option value="">Toutes les catégories</option>
            @foreach (var categorie in Model.CategoriesList)
            {
                <option value="@categorie.Id">@categorie.libelle</option>
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Filtrer</button>
</form>

<br/>

<div class="row">
    @foreach (var produit in Model.Produits)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@produit.url_image">
                <div class="card-body">
                    <h5 class="card-title">@produit.libelle</h5>
                    <p class="card-text">@produit.description</p>
                    @if (Model.promotionsProduitsModels.Any(p => p.IdProduit == produit.Id))
                    {

                        var promotionproduit = Model.promotionsProduitsModels.FirstOrDefault(p => p.IdProduit == produit.Id);
                        var promo = Model.promotions.First(p => p.Id == promotionproduit.IdPromotion);
                        <p class="card-text"><strong>Prix: </strong><span class="original-price text-muted" style="text-decoration: line-through">@produit.prix €</span> <span class="promo-price text-danger">@promotionproduit.prixPromo € (@promo.PourcentageRemise %)</span></p>

                        <p class="card-text">Valable du @promo.DateDebut.ToString("dd/MM/yyyy") au @promo.DateFin.ToString("dd/MM/yyyy")</p>
                    }
                    else
                    {
                        <p class="card-text"><strong>Prix: </strong>@produit.prix €</p>
                    }
                    <a href="#" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        </div>
    }
</div>