@model Mercadona.Models.PromotionsProduitsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixPromo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
