@model IEnumerable<Mercadona.Models.PromotionsProduitsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Produits en promotion</h1>

<p>
    <a asp-action="Create">Ajouter un produit en promotion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixPromo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixPromo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
