@model Mercadona.Models.ProduitsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProduitsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url_image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
